<%= form_for(@institution) do |f| %>
  <% if @institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

      <ul>
      <% @institution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Country: <%= ENV['NRO_COUNTRY'] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# set by NRO_COUNTRY environment variable for now</p>
  <div class="field">
    <%= f.label :institution_type %><br>
    <%= f.select :institution_type, @institution_types %>
  </div>
  <div class="field">
    <%= f.label :inst_realm %><br>
    <%= f.text_field :inst_realm %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email %>
  </div>
  <div class="field">
    <%= f.label :contact_phone %><br>
    <%= f.text_field :contact_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
