<p id="notice"><%= notice %></p>

<p>
  <strong>Institution</strong>
  <%= @institution.primary_name %>
</p>

<p>
  <strong>Country</strong>
  <%= @institution.country %>
</p>

<p>
  <strong>Institution type:</strong>
  <%= @institution.institution_type %>
</p>

<p>
  <strong>Inst realm:</strong>
  <%= @institution.inst_realm %>
</p>

<p>
  <strong>Address:</strong>
  <%= @institution.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @institution.city %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @institution.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @institution.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @institution.contact_phone %>
</p>

<p>
  <strong>Primary info url:</strong>
  <%= @institution.primary_info_url %>
</p>

<p>
  <strong>Primary policy url:</strong>
  <%= @institution.primary_policy_url %>
</p>


<p>
  <strong>APIKEY:</strong>
  <%= @institution.apikey %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
